.todas{
  background-color: cyan;
  border:solid 2px #222222;
  width: 80%;
  height: 80%;
  font-family: 'Six Caps', sans-serif;
  font-size: 3em;
  border-radius: 999px;
  transition: width 2s, height 2s, border-radius 1s;
  transition-timing-function: ease;

}

.container {
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: repeat(2,50%);
  width: 100vw;
  height:100vh;
  place-items:center;
  background-image: url(https://dearworldandtrulyyours.files.wordpress.com/2013/12/rain-wallpapers-photos.jpg);


}

#S1{
  background-image: url(https://www.tokkoro.com/picsup/5634775-peaky-blinders-wallpapers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fix;
  color: red;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#S2{
  background-image: url(https://occ-0-1068-1722.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABXg51hE-1qoRnsNu2KdKAQfL8k29HTDk1-gLyCyZIFNNuL3VwamMY2Xvd5YBIoWr2RfneGv4WHwVoovnVmNmwNVFuFIQ.jpg?r=2f0);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fix;
  text-align: right;
  color: gold;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#S3{
  background-image: url(https://imagesvc.timeincapp.com/v3/fan/image?url=https%3A%2F%2Fwinteriscoming.net%2Ffiles%2F2019%2F03%2FGame-of-Thrones-season-8-title-card-logo-header-1.jpg&c=sc&w=736&h=485);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fix;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

#S4{
  background-image: url(https://cdn1.lockerdome.com/uploads/79b633bd5d71f4c948c8ecf32fba1992667f76c982e04f312faf46667a7bdd63_:original);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fix;
  color: red;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.todas:hover{
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

@media (max-width:600px){
  .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .todas{
    margin-top: 2vh;
  }
}
